<%= form_with(
  url: applicants_path,
  method: :get,
  class: "flex items-baseline",
  data: {
    controller: "form",
    form_target: "form",
    turbo_frame: "applicants",
    }
  ) do |form| %>
  <div>
    <%= form.label :sort, class: "sr-only" %>
    <%= form.select :sort,
                options_for_select(
                  applicants_sort_options,
                  fetch_filter_key(Applicant, current_user.id, "sort"),
                ),
                { disabled: "", prompt: "Sort by" },
                {
                  data: {
                    action: "change->form#submit",
                  },
                  class:
                    "block w-28 rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 text-sm sm:leading-6 [&_*]:text-black",
                } %>
  </div>
  <div class="ml-2">
    <%= form.label :job, class: "sr-only" %>
    <%= form.select :job,
                options_for_select(
                  applicants_job_filter_options,
                  fetch_filter_key(Applicant, current_user.id, "job"),
                ),
                { include_blank: "All Jobs" },
                {
                  data: {
                    action: "change->form#submit",
                  },
                  class:
                    "block w-28 rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 text-sm sm:leading-6 [&_*]:text-black",
                } %>
  </div>
  <div class="ml-2">
    <%= form.label :query, class: "sr-only" %>
    <%= form.text_field :query,
                    placeholder: "Search",
                    value: fetch_filter_key(Applicant, current_user.id, "query"),
                    data: {
                      action: "input->form#submit",
                    },
                    class:
                      "block w-full sm:w-44 rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 text-sm sm:leading-6 [&_*]:text-black" %>
  </div>
<% end %>
