<div
  class="
    fixed inset-x-0 top-0 flex items-end justify-right px-4 py-6 sm:p-6 justify-end
    z-30 pointer-events-none
  "
>
  <div
    data-controller="alert"
    class="
      <%= flash_color(flash_type) %> relative p-4 mb-4 text-sm border
      rounded-lg dark:bg-gray-800 pointer-events-auto
    "
    role="alert"
  >
    <span class="sr-only">Info</span>
    <%= inline_svg_tag "info-solid.svg",
    class: "flex-shrink-0 inline w-4 h-4 me-3 align-sub" %>

    <div class="flex-shrink-0 inline">
      <span class="font-medium"><%= flash_msg %></span>
    </div>
    <button
      data-action="alert#close"
      type="button"
      class="
        <%= flash_close_button_color(flash_type) %> ms-auto -mx-1.5 -my-1.5 rounded-lg
        focus:ring-2 p-1.5 inline-flex items-center justify-center h-8 w-8
        dark:bg-gray-800 dark:hover:bg-gray-700 align-middle
      "
      data-dismiss-target="#alert-2"
      aria-label="Close"
    >
      <span class="sr-only">Close</span>
      <%= inline_svg_tag "x-mark.svg", class: "w-5 h-5" %>
    </button>
  </div>
</div>
