<nav data-controller="toggle" class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <%= render "nav/mobile/menu_button" %>
        <!-- Logo -->
        <div class="flex flex-shrink-0 items-center">
          <%= link_to root_path do %>
            <img
              class="h-8 w-auto"
              src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
              alt="Your Company"
            >
          <% end %>
        </div>
        <div class="hidden md:ml-6 md:flex md:items-center md:space-x-4">
          <%= render "nav/links" %>
        </div>
      </div>
      <div class="flex items-center">
        <!-- Sign in button -->
        <% unless authenticated? %>
          <div class="flex-shrink-0">
            <%= link_to "Sign in",
            new_session_path,
            class:
              "relative inline-flex items-center gap-x-1.5 rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500" %>
          </div>
        <% end %>
        <div class="hidden md:ml-4 md:flex md:flex-shrink-0 md:items-center">
          <% if authenticated? %>
            <%= render "nav/notifications" %>
            <!-- Profile dropdown -->
            <%= render "nav/user_menu" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <%= render "nav/mobile/menu" %>
</nav>
